<form class="mb-5" action="/newFilmFormProcessing" method="POST">
    <div class="mb-3 text-center">
        <label for="titleInput" class="form-label">Title</label>
        <input type="text" class="form-control" id="titleInput" aria-describedby="movie title" name="movieTitle">
    </div>
    <div class="mb-3 text-center">
        <label for="movieDirector" class="form-label">Director</label>
        <input type="text" class="form-control" id="movieDirector" aria-describedby="movie director" name="movieDirector">
    </div>
    <div class="mb-3 text-center">
        <label for="yearInput" class="form-label">Year</label>
        <input type="text" class="form-control" id="yearInput" aria-describedby="movie year" name="movieYear">
    </div>
    <div class="mb-3 text-center">
        <label for="movieDuration" class="form-label">Duration</label>
        <input type="text" class="form-control" id="movieDuration" aria-describedby="movie duration" name="movieDuration">
    </div>
    <div class="mb-3 text-center">
        <label for="movieRate" class="form-label">Rate</label>
        <input type="text" class="form-control" id="movieRate" aria-describedby="movie rate" name="movieRate">
    </div>
    <button type="submit" class="btn btn-primary">Create movie</button>
</form>