body {
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    text-align: center;
}
p {
    text-align: center;
}
.image {
    width: 400px;
    display: block;
    margin: auto;
}