<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
    <body>
        <h1>Bob esponja</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio iusto, minima tempore rem dolore corrupti nostrum, adipisci velit aliquid error quas reprehenderit voluptatibus minus. Quia quisquam dolores in voluptatum corrupti!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio iusto, minima tempore rem dolore corrupti nostrum, adipisci velit aliquid error quas reprehenderit voluptatibus minus. Quia quisquam dolores in voluptatum corrupti!</p>
        <img src="/images/image1.webp" alt="text image" class="image"/>
        <ul>
            <li><a href="/patricio">Patricio</a></li>
            <li><a href="/cangreburger">Cangreburger</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </body>
</html>