<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BR Architects</title>
    <link rel="stylesheet" href="css/style.css" />
</head>
<body>
    <nav id="top-bar">
        <div>
        <h1><strong>BR</strong> Architects</h1> 
        </div>
        <ul>
            <li>Projects</li>
            <li>About</li>
            <li>Contact</li>
        </ul>
    </nav>
    <main>
        <header>
            <!-- <img src="" alt=""> -->
            <h1><strong>BR</strong> Architects</h1>
        </header>
        <section>
            <h2>Projects</h2>
            <div>
                <!-- <div class="summer-house"></div> -->
                <article>
                    <h3>Summer House</h3>
                    <img src="images/house2.jpeg" alt="summer house">
                </article>
                <article>
                    <h3>Brick House</h3>
                    <img src="images/house3.jpeg" alt="summer house">
                </article>
                <article>
                    <h3>Renovated</h3>
                    <img src="images/house4.jpeg" alt="summer house">
                </article>
                <article>
                    <h3>Barn House</h3>
                    <img src="images/house5.jpeg" alt="summer house">
                </article>
                <article>
                    <h3>Summer House</h3>
                    <img src="images/house2.jpeg" alt="summer house">
                </article>
                <article>
                    <h3>Brick House</h3>
                    <img src="images/house3.jpeg" alt="summer house">
                </article>
                <article>
                    <h3>Renovated</h3>
                    <img src="images/house4.jpeg" alt="summer house">
                </article>
                <article>
                    <h3>Barn House</h3>
                    <img src="images/house5.jpeg" alt="summer house">
                </article>
            </div>
        </section>
    </main>
    <footer>
        <p>Powered by <a href="">w3.css</a></p>
    </footer>
</body>
</html>