<form action="/movie-characters/create" method="POST">
    <label for="charname">Name</label>
    <input type="text" id="charname" name="charname">
    <label for="charoccupation">Occupation</label>
    <input type="text" id="charoccupation" name="charoccupation">
    <label for="chardebt">Debt</label>
    <input type="text" id="chardebt" name="chardebt">
    <label for="charweapon">Weapon</label>
    <input type="text" id="charweapon" name="charweapon">
    <input type="submit" value="Create character">
</form>