<h1>CONTACT PAGE</h1>

<form class="w-50 mx-auto">
    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
    </div>
    <div class="form-floating">
        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
            style="height: 100px"></textarea>
        <label for="floatingTextarea2">Comments</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{{>table}}

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae nostrum blanditiis earum rerum quod facilis
    vero explicabo quas? Ut nobis cupiditate eos expedita explicabo nostrum tenetur eveniet consequuntur a
    consequatur.</p>