<form class="mx-auto w-50" action="/users/signup" method="POST">
  
  {{#if errorMessage}}
    <div class="alert alert-danger" role="alert">
      {{errorMessage}}
    </div>
  {{/if}}

  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Username</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="username" value="{{user.username}}">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" name="password" value="{{user.password}}">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword2" class="form-label">Repeat password</label>
    <input type="password" class="form-control" id="exampleInputPassword2" name="passwordRepeat" value="{{user.passwordRepeat}}">
  </div>
  <button type="submit" class="btn btn-primary">Signup</button>

  {{!-- <button><img src="https://picsum.photos/50/20"></button>
  <input type="button" value="Send form">

  <button type="submit">Login</button>
  <input type="submit" value="Login"> --}}
</form>