<table class="table">
  <thead>
    <tr>
      <th scope="col">Project</th>
      <th scope="col">Grade</th>
    </tr>
  </thead>
  <tbody>
    {{#each gradesArr}}
    <tr>
      <td>{{this.project}}</td>
      <td>{{this.grade}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>